# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
pyvenv.cfg
.installed.cfg
*.egg

# Database
playlists.json
melora.db

# Caches
.ruff_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
